body {
    background: #565656;
}

.indicadores {
    background: #130f40;
    color: white;
    font-size: 25px;
}

.fecha {
    font-size: 16px;
    color: white;
}

.titulo_juego {
    font-size: 24px;
    color: white;
}

.titulo_cronometo {
    font-size: 28px;
    color: #f1c40f;
}

.carta {
    background: #2f3640;
    color: white;
}

.titulo_ranking{
    color: #f1c40f;
}